/* 3D Settings */
.scene {
  --size: 500px;
  --vx: 0;
  --vy: 0;
  --vz: 0;
  --rx: 0deg;
  --ry: 0deg;
  perspective-origin: center center;
  perspective: 800px;
  height: 100vh;
  transform-style: preserve-3d;
}

.observer {
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(var(--ry)) rotateX(var(--rx));
  transform-origin: center bottom;
}

.tiles {
  transform: rotateX(90deg) translateX(calc(-50% + var(--vx)))
    translateY(calc(var(--vz))) translateZ(calc(-1 * var(--vy)));
  transform-origin: center bottom;
  transform-style: preserve-3d;
  background: #f06d06;
}

.tile {
  transform-style: preserve-3d;
  position: absolute;
}

/* Non-3d-CSS Styles */
body {
  font-family: system-ui;
  color: white;
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #b5dcff;
}

.tiles {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.tile {
  width: var(--size);
  height: var(--size);
  background: green;
  margin: 0;
  vertical-align: middle;
  box-sizing: border-box;
  border: Solid calc(var(--size) / 100) Gray;
}

.tile:hover {
  background-color: yellow;
}
